<!--Force IE6 into quirks mode with this comment tag-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Nettikeittiö - add</title>
        <link rel="stylesheet" type="text/css" href="../css/active.css" />
        <script type="text/javascript" src="../js/jquery-1.5.min.js"></script>
    </head>
    <body>
        <div id="frameLeft">
            <div class="margin">
                <p><a href="frame.html">Takaisin</a></p>
            </div>
            <div class="step">
                <p>Vaihe 1</p>
            </div>
            <div class="step active">
                <p>Vaihe 2</p>
            </div>
            <div class="step">
                <p>Lisää vaihe</p>
            </div>
        </div>

        <div id="frameRight">
            <div class="step">   
                2 dl keitettyjä sarvimakarooneja (hörnli)
            </div>
            <div class="step active">
                <div class="activepart">
                    1 rkl<br /><span class="red"></span>
                </div>
                <div class="activepart">
                <input name="search" /><input name="search" /><br /><span class="red"><input name="name" /></span>
                </div>
                <div class="activepart">
                    <span class="red">Lisää</span>
                </div>
            </div>
        </div>

        <div id="main">
            <div class="margin active">
                <textarea></textarea>
            </div>
        </div>
    </body>
</html>
