<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Nettikeittiö - frame</title>
        <link rel="stylesheet" type="text/css" href="../css/frame_old.css" />
        <script type="text/javascript" src="../js/jquery-1.5.min.js"></script>
    </head>
    <body>

	<div id="frameLeft">
		<div class="margin">
			<h3>Kokkauksen apu</h3>
		</div>
	</div>

	<div id="header">
		<div class="margin">
			<h1>Nettikokkisivu</h1>
		</div>
	</div>



	<div id="main">
		<div class="margin">
			<p>Main content</p>
			
<p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu convallis lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin nunc leo, laoreet eu sagittis ac, vestibulum vel risus. Vivamus sed sollicitudin nibh. Curabitur fringilla ultrices nibh eget sodales. Pellentesque vitae sapien ligula. Integer non tellus ut lorem porta hendrerit eget et velit. Duis id risus ipsum, ac elementum mauris. Pellentesque varius arcu non justo sodales a fermentum tellus dignissim. Ut magna orci, sodales ut eleifend dignissim, tincidunt vitae dolor. Nunc feugiat eleifend ullamcorper. Vestibulum tristique vulputate metus in congue. Maecenas a lectus erat.
</p> 
<p> 
Donec non lacus sed risus euismod rutrum id ultricies magna. Nullam elit purus, ornare quis commodo eget, feugiat ut dolor. Fusce sit amet elit in turpis ornare iaculis eget quis augue. Aliquam porta posuere mi, sed porta mauris dapibus vel. Donec felis ligula, pellentesque in ultricies fermentum, interdum in urna. Mauris a feugiat lacus. Etiam blandit, sem ac lobortis fermentum, enim leo adipiscing felis, vitae laoreet augue nulla eu sem. Sed tempor adipiscing est a consequat. Sed felis erat, molestie vel viverra tempus, volutpat eget lorem. Vivamus egestas vulputate metus quis blandit. Vivamus rhoncus justo nec nisl adipiscing sit amet tincidunt justo vulputate. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut in diam vitae purus convallis ornare. Nullam malesuada lorem a velit posuere et ultricies nisl lacinia.
</p> 
<p> 
Duis nec nulla nec nibh lacinia interdum non eu sem. Phasellus sed erat dui, quis iaculis nunc. Sed porta, quam pharetra luctus imperdiet, nibh ipsum semper massa, id vehicula massa nunc in enim. Pellentesque eget metus in leo aliquam lobortis. Ut varius ligula vel orci volutpat ac consequat lacus mollis. Morbi sodales dolor quis justo aliquet aliquam. Mauris feugiat, massa in molestie laoreet, sapien est fringilla elit, ac cursus orci diam et tellus. Nam aliquam faucibus nibh at pellentesque. Sed tincidunt vulputate eros, vel dignissim odio tempor eget. Phasellus mattis metus at justo dignissim sed porta orci aliquam. In hac habitasse platea dictumst. Ut porta consectetur hendrerit. Etiam congue nibh ut lectus pulvinar ullamcorper. Nullam magna tellus, rutrum id rhoncus eget, dictum ac justo.
</p> 
<p> 
Mauris sodales sem ut sem venenatis laoreet. Vivamus lobortis ante tortor. Aenean quis eros nunc, id convallis quam. Nullam turpis nulla, porta non commodo eu, varius eu mi. Suspendisse ac risus feugiat erat feugiat ultricies nec vel justo. Nam feugiat euismod odio, eu vehicula leo facilisis quis. Nulla tempus lorem at mauris interdum vel porttitor libero vehicula. Vivamus dapibus cursus magna ut sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus gravida enim, vitae rhoncus ligula imperdiet faucibus.
</p> 
<p> 
Proin commodo nibh sed metus malesuada in mattis mauris vehicula. Sed magna lectus, ornare vel facilisis eget, placerat et mi. Nunc tristique tortor at enim varius gravida. Vivamus non elit nunc. Donec eu tortor erat. Cras rutrum auctor lorem non semper. Mauris dictum sagittis mi. Cras at ipsum diam. Quisque molestie ultrices nisl id venenatis. In eu laoreet libero. Nam tellus nisl, gravida non accumsan vel, venenatis in sapien. Praesent feugiat sagittis aliquet. Nulla at justo quis risus sodales viverra. Sed ac neque nisl. Donec volutpat justo in quam condimentum mollis. Phasellus mattis accumsan augue, non consequat lorem pretium sed. Quisque lacinia purus sed mi mattis in tempor metus lobortis. Ut accumsan egestas urna eu tempus. Praesent vitae lorem felis, ac fringilla mauris. Mauris interdum nisl vel orci facilisis ut mattis magna ultrices.
</p>
<p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu convallis lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin nunc leo, laoreet eu sagittis ac, vestibulum vel risus. Vivamus sed sollicitudin nibh. Curabitur fringilla ultrices nibh eget sodales. Pellentesque vitae sapien ligula. Integer non tellus ut lorem porta hendrerit eget et velit. Duis id risus ipsum, ac elementum mauris. Pellentesque varius arcu non justo sodales a fermentum tellus dignissim. Ut magna orci, sodales ut eleifend dignissim, tincidunt vitae dolor. Nunc feugiat eleifend ullamcorper. Vestibulum tristique vulputate metus in congue. Maecenas a lectus erat.
</p> 
<p> 
Donec non lacus sed risus euismod rutrum id ultricies magna. Nullam elit purus, ornare quis commodo eget, feugiat ut dolor. Fusce sit amet elit in turpis ornare iaculis eget quis augue. Aliquam porta posuere mi, sed porta mauris dapibus vel. Donec felis ligula, pellentesque in ultricies fermentum, interdum in urna. Mauris a feugiat lacus. Etiam blandit, sem ac lobortis fermentum, enim leo adipiscing felis, vitae laoreet augue nulla eu sem. Sed tempor adipiscing est a consequat. Sed felis erat, molestie vel viverra tempus, volutpat eget lorem. Vivamus egestas vulputate metus quis blandit. Vivamus rhoncus justo nec nisl adipiscing sit amet tincidunt justo vulputate. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut in diam vitae purus convallis ornare. Nullam malesuada lorem a velit posuere et ultricies nisl lacinia.
</p> 
<p> 
Duis nec nulla nec nibh lacinia interdum non eu sem. Phasellus sed erat dui, quis iaculis nunc. Sed porta, quam pharetra luctus imperdiet, nibh ipsum semper massa, id vehicula massa nunc in enim. Pellentesque eget metus in leo aliquam lobortis. Ut varius ligula vel orci volutpat ac consequat lacus mollis. Morbi sodales dolor quis justo aliquet aliquam. Mauris feugiat, massa in molestie laoreet, sapien est fringilla elit, ac cursus orci diam et tellus. Nam aliquam faucibus nibh at pellentesque. Sed tincidunt vulputate eros, vel dignissim odio tempor eget. Phasellus mattis metus at justo dignissim sed porta orci aliquam. In hac habitasse platea dictumst. Ut porta consectetur hendrerit. Etiam congue nibh ut lectus pulvinar ullamcorper. Nullam magna tellus, rutrum id rhoncus eget, dictum ac justo.
</p> 
<p> 
Mauris sodales sem ut sem venenatis laoreet. Vivamus lobortis ante tortor. Aenean quis eros nunc, id convallis quam. Nullam turpis nulla, porta non commodo eu, varius eu mi. Suspendisse ac risus feugiat erat feugiat ultricies nec vel justo. Nam feugiat euismod odio, eu vehicula leo facilisis quis. Nulla tempus lorem at mauris interdum vel porttitor libero vehicula. Vivamus dapibus cursus magna ut sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus gravida enim, vitae rhoncus ligula imperdiet faucibus.
</p> 
<p> 
Proin commodo nibh sed metus malesuada in mattis mauris vehicula. Sed magna lectus, ornare vel facilisis eget, placerat et mi. Nunc tristique tortor at enim varius gravida. Vivamus non elit nunc. Donec eu tortor erat. Cras rutrum auctor lorem non semper. Mauris dictum sagittis mi. Cras at ipsum diam. Quisque molestie ultrices nisl id venenatis. In eu laoreet libero. Nam tellus nisl, gravida non accumsan vel, venenatis in sapien. Praesent feugiat sagittis aliquet. Nulla at justo quis risus sodales viverra. Sed ac neque nisl. Donec volutpat justo in quam condimentum mollis. Phasellus mattis accumsan augue, non consequat lorem pretium sed. Quisque lacinia purus sed mi mattis in tempor metus lobortis. Ut accumsan egestas urna eu tempus. Praesent vitae lorem felis, ac fringilla mauris. Mauris interdum nisl vel orci facilisis ut mattis magna ultrices.
</p>

	
		</div>
	</div>


	</body>
</html>
