<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Nettikeittiö - frame</title>
        <link rel="stylesheet" type="text/css" href="../css/frame.css" />
        <script type="text/javascript" src="../js/jquery-1.5.min.js"></script>
        <script type="text/javascript" src="../js/jquery_corner.js"></script>
        <script type="text/javascript" src="../js/init.js"></script>
    </head>
    <body>

	<div id="header">
	<ul class="categories">
		<li><a href="frame.html">Nettikeittiö</a></li>
		<li><a href="guide.html">Ohje</a></li>
	</ul>
		<div class="menu">
			<ul class="categories">
				<li><a href="user.html">Oma: Rekisteröidy tai Kirjaudu / Oma sivu, Suosikkireseptit</a></li>
				<li><a href="search.html">Hae: Reseptejä, käyttäjiä</a></li>
				<li><a href="active.html">Lisää resepti! (Kirjaudu tai reksiteröidy samalla)</a></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<div class="content">
			<div class="center">
				<form id="productform" method="GET" action="search.html">
					<input id="search" name="search" />
					<input type="submit" value="Etsi" />
				</form>
			</div>
		</div>
	
	
		<div class="content">
			<div class="block contentblock">
				<p>Että eksyit sitten tänne</p>
				<p><a href="recipe.html">Katso reseptidemo</a></p>
			</div>
			
			<div class="block contentblock">
				<p>Listaa</p>
				<ul>
					<li><a href="search.html">Parhaat</a></li>
					<li><a href="search.html">Suosituimmat</a></li>
					<li><a href="search.html">Uusimmat</a></li>
				</ul>
			</div>
			
			<div class="block contentblock">
				<p>Uutisia:</p>
				<p>Ei oo</p>
			</div>
		</div>
	</div>


	</body>
</html>
