<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Nettikeittiö - Tomaatti</title>
        <link rel="stylesheet" type="text/css" href="../css/frame.css" />
        <script type="text/javascript" src="../js/jquery-1.5.min.js"></script>
    </head>
    <body>

	<div id="header">
	<ul class="categories">
		<li><a href="frame.html">Nettikeittiö</a></li>
		<li><a href="guide.html">Ohje</a></li>
	</ul>
		<div class="menu">
			<ul class="categories">
				<li><a href="user.html">Oma: Rekisteröidy tai Kirjaudu / Oma sivu, Suosikkireseptit</a></li>
				<li><a href="search.html">Hae: Reseptejä, käyttäjiä</a></li>
				<li><a href="active.html">Lisää resepti! (Kirjaudu tai reksiteröidy samalla)</a></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<div class="content">
			<div class="block">
				<img width="100" src="dummyimages/stevejobs.jpg" />
				<p>Stevee</p>
			</div>
			
			<div class="block options">
			
				<table>
					<tr>
						<td><button>Kommentoi</button></td>
						<td><button>Arvioi</button></td>
						<td><button>Lisää suosikkeihini</button></td>
					</tr><tr>
						<td><button>Muokkaa jos wiki</button></td>
						<td><button>Tee uusi resepti tämän pohjalta</button></td>
						<td><button>Kokkausapuun!</button></td>
					</tr>
				</table>
				
			</div>
		</div>
	
		<div class="content">
			<div class="block contentFrameLeft">
				<img width="280" src="dummyimages/tomatosoup.jpg" />


				<p>Raaka-aineet</p>
<ul>
<li>
2
valkosipulinkynttä
</li><li>
1
iso sipuli
 </li><li>
1 rkl
öljyä
 </li><li>
7 dl
vettä
 </li><li>
500 g
paseerattua tomaattia
 </li><li>
1 kpl
kasvisliemikuutio
 </li><li>
1 tl
sokeria
 </li><li>
0,5 tl
pippuria
 </li><li>
1 tl
timjamia
 </li><li>
1/4 tl
chiliä
</li><li>
4
paahtoleipää
</li><li>
100 g
hovi-juustoa
</li>
</ul>	
			</div>
			
			<div class="block contentFrameRight">
				<p>
				
Vaiheet:<br />
Pääruoat - 4 annosta<br />
<br />
Leikkaa sipulit kuutioiksi.<br />
Laita kattilaan öljy ja kuullota sipulikuutiot ja murskatut valkosipulinkynnet siinä.<br />
Lisää vesi, paseerattu tomaatti ja mauseet. Sekoita.<br />
Leikkaa leivät kuutioiksi ja lisää ne keittoon. Sekoita.<br />
Anna kiehua hiljalleen n. 15 min.<br />
Lisää tuorejuusto. Sekoita.<br />
Anna keiton vielä kuumentua n. 3 min.<br />
Leikkaa sipulit kuutioiksi.<br />
Laita kattilaan öljy ja kuullota sipulikuutiot ja murskatut valkosipulinkynnet siinä.<br />
Lisää vesi, paseerattu tomaatti ja mauseet. Sekoita.<br />
Leikkaa leivät kuutioiksi ja lisää ne keittoon. Sekoita.<br />
Anna kiehua hiljalleen n. 15 min.<br />
Lisää tuorejuusto. Sekoita.<br />
Anna keiton vielä kuumentua n. 3 min.<br />
Leikkaa sipulit kuutioiksi.<br />
Laita kattilaan öljy ja kuullota sipulikuutiot ja murskatut valkosipulinkynnet siinä.<br />
Lisää vesi, paseerattu tomaatti ja mauseet. Sekoita.<br />
Leikkaa leivät kuutioiksi ja lisää ne keittoon. Sekoita.<br />
Anna kiehua hiljalleen n. 15 min.<br />
Lisää tuorejuusto. Sekoita.<br />
Anna keiton vielä kuumentua n. 3 min.<br />
Leikkaa sipulit kuutioiksi.<br />
Laita kattilaan öljy ja kuullota sipulikuutiot ja murskatut valkosipulinkynnet siinä.<br />
Lisää vesi, paseerattu tomaatti ja mauseet. Sekoita.<br />
Leikkaa leivät kuutioiksi ja lisää ne keittoon. Sekoita.<br />
Anna kiehua hiljalleen n. 15 min.<br />
Lisää tuorejuusto. Sekoita.<br />
Anna keiton vielä kuumentua n. 3 min.<br />
Leikkaa sipulit kuutioiksi.<br />
Laita kattilaan öljy ja kuullota sipulikuutiot ja murskatut valkosipulinkynnet siinä.<br />
Lisää vesi, paseerattu tomaatti ja mauseet. Sekoita.<br />
Leikkaa leivät kuutioiksi ja lisää ne keittoon. Sekoita.<br />
Anna kiehua hiljalleen n. 15 min.<br />
Lisää tuorejuusto. Sekoita.<br />
Anna keiton vielä kuumentua n. 3 min.<br />
Tarjoile.
				
				</p>
			</div>
			
			
		</div>
		<div class="content">
			<div>
				<p>Kommentit</p>
			</div>
		</div>
	</div>


	</body>
</html>
