<script type="text/javascript">
$(document).ready(function() {
    $( "div#showHideLink a" ).toggle(
        function() {
            $(this).html('Piilota');
            $("div#showHide").slideDown();
        },
        function() {
            $(this).html('Suurenna');
            $("div#showHide").slideUp();
        }
    );
});
</script>
<div id="topbar">
    <div id="showHideLink" class="left">
        <a href="#">Suurenna</a>
    </div>
    <div id="mainAction" class="right">
    {% if recipe %}
        <a href="{% url recipe_page recipe_id=recipe.pk %}">Alkuun</a>
    {% else %}
        <a href="{% url main_page %}">Alkuun</a>
    {% endif %}
    </div>
</div>

<div id="lowbar">
    <div class="recipe" id="showHide">
    </div>
</div>
