
.recipe_image img {
    width:100%;
}

div#header {
    overflow: auto;
    padding: 0.3em 5em;

    font-size: 90%;
}

.listresult {
    float: left;
    width: 10em;
    margin: 0.5em;
    padding: 0.5em;
    border: 3px solid white;
}

.listresult img {
    width: 10em;
}

/*
    Main navigation
*/
div.menuwrapper {
    overflow: auto;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    z-index: 100;
}
.active {
    background: rgba(255,255,255,0.1);
}
.menulist {
    padding: 0;
    margin: 0;
    width: 32%;
    float:left;
    height:100%;
    overflow: auto;

    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.menulist .menutitle {
    font-weight: bold;
    font-size: 110%;

    text-align: center;

    padding: 1em;

    border-bottom: solid rgba(255,255,255,0.1) 5px;
}

.menulinks ul {
    list-style: none;
    margin: 0 auto;
    padding: 1em 2em 4em 2em;
}
.menulinks ul li {
    padding: 0.3em;
    border-bottom: solid rgba(255,255,255,0.1) 3px;

    font-size: 110%;
    font-weight: bold;
}
.menulinks ul li:hover {
    background: rgba(255,255,255,0.1);
}


/*
    Content
*/
div#content {
    padding: 2em;
    margin: 3.8em auto;
    width: 90%;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 5px #212121;
    -moz-box-shadow: 0px 0px 5px #212121;
    box-shadow: 0px 0px 5px #212121;
}

div#footer {
    font-size: 80%;
    color: #666;
    padding: 0.3em;
    margin: 1em;
    text-align:center;
}

/* Front page */
.listDiv {
    overflow: auto;
    margin: 1em;
    padding: 1em;
}

div#dev {
    border: 3px solid grey;
    background-color: white;
    color: grey;
}

div#nkName {
    font-size: 200%;
    vertical-align: middle;
}

div#nkName img {
    height:4em;
    float:left;
}

/* detail recipe */
.detailPhase {
    border: 1px solid white;
    margin: 0.5em;
}

#detailMain .left {
    width: 30%;
    border: 3px solid grey;
}

#detailMain .right {
    width: 60%;
    border: 3px solid grey;
}

/* Edit/create recipe */
div.recipe_phases {
    border: solid black 1px;
}
div.recipe_phase {
    border: solid red 1px;
    margin: 0.5em;
}

a.remove_ingredient {
    float:right;
}


