body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

/*
div.navibar {
    margin-top:2em;
    overflow: auto;
    display:block;
    border: 1px solid red;
    height:5em;
}

div.navibar > div {
    float:left;
    padding: 1em;
    text-align:center;
    vertical-align: middle;
    height: 50%;
}

div.navibar > div.mainlink {
    width: 8em;
}

div.navibar > div.linkbar {
    width: 80%;
    position:relative;
    z-index:100;
}

div.navibar > div.linkbar > a {
    float: left;
}
*/

div#header {
    overflow: auto;
    padding: 1em;
}

.listresult {
    float: left;
    width: 30%;
    margin: 0.5em;
    padding: 0.5em;
    background: #bbb;
    color:black;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.recipe_phase {
    border: 1px solid white;
    margin: 0.5em;
}

.contentpage {
    margin-left:4em
}

div#menu {
    background:black;
    padding: 1em;
}

div#menulink {
    height: 100%;
    position: fixed;
    padding: 0.5em;
}

div#mainnavi {
    float:left;
}

div#content {
    /*
    position: absolute;
    top:8em;
    left:12em;
    right:2em;
    */
    padding: 1em;
    margin: 1em;
    overflow: auto;
}

div#footer {
    font-size: 80%;
    color: #666;
    padding: 0.3em;
    margin: 1em;
    text-align:center;
}

/* menu pageslide animation */
#pageslide-body-wrap {
    position: relative;
}

#pageslide-slide-wrap {
    position: fixed;
    width: 0;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: none;
    z-index: 999;
}
