body {
    border: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 
}

div#header {
    padding: 0.5em;
    border-bottom:1px solid black;
}

#topbar, #lowbar {
    overflow: auto;
}

#lowbar {
    margin: 1em;
}

div#mainAction {
    float:right;
}

div#showHideLink {
    float:left;
}

div#header {
    overflow: auto;
}

#frameLeft, #frameRight {
    position: absolute;
    left: 0; 
    width: 200px; /*Width of left frame div*/
    height: 100%;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable. To disable: hidden*/
}

#frameRight {
    left: auto;
    right: 0; 
    width: 400px; /*Width of right frame div*/
    /*overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#main {
    position: fixed;
    left: 200px; /*Set left value to WidthOfLeftFrameDiv*/
    right: 400px; /*Set right value to WidthOfRightFrameDiv*/
    /*bottom: 0;*/
    /*overflow: scroll;
    max-height: 400px;*/
}

.margin {
    margin: 1em; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.phase, .phase_name, .phase_dscr, .phase_ingredients {
    background-color: gainsboro;
    color:black;
    padding:5px;
    margin-bottom:1em;
}

.active {
    background-color: white;
    color:black;
    /*font-weight:bold;*/
    font-size:xx-large;
}

div.phase_duration, div.phase_atype {
    visibility:hidden;
    height:0;
}

div.phase_duration {
    float:right;
}

div.phase_atype {
    float:left;
}

div.phase_duration.active, div.phase_atype.active {
    visibility:visible;
    font-size:large;
    height:show;
}

.ingredient .name {
    color:red;    
}

.active.ingredient {
    border-top-style:dotted;
    margin-bottom:0em;
}

.active.ingredient:first-child {
    border-top: 0;
}

* html body { /*IE6 hack*/
    padding: 0 150px 0 200px; /*Set value to (0 WidthOfRightFrameDiv 0 WidthOfLeftFrameDiv)*/
}

* html #main { /*IE6 hack*/
    height: 100%; 
    width: 100%; 
}
