body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 
}

#topbar, #lowbar {
    border: 1px solid black;
    overflow: auto;
}

div#topbar {
    height:2em;
}

div#lowbar {
    height:3em;;
}

div#mainAction {
    float:right;
}

div#showHide {
    float:left;
}

div#header {
    height:6em;
}

#frameLeft, #frameRight {
    position: absolute;
    left: 0; 
    width: 200px; /*Width of left frame div*/
    height: 100%;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable. To disable: hidden*/
    background-color:rgb(42,24,51);
    color: white;
}

#frameRight {
    left: auto;
    right: 0; 
    width: 400px; /*Width of right frame div*/
    /*overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    background-color:rgb(42,24,51);
    color: white;
}

#main {
    position: fixed; 
    left: 200px; /*Set left value to WidthOfLeftFrameDiv*/
    right: 400px; /*Set right value to WidthOfRightFrameDiv*/
    bottom: 0;
    overflow: auto; 
    background: #fff;
}

.margin {
    margin: 1em; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.step {
    background-color: gainsboro;
    color:black;
    padding:5px;
    margin-bottom:1em;
}

.active {
    background-color: white;
    color:black;
    /*font-weight:bold;*/
    font-size:xx-large;
}

.red {
    color:red;
    margin-left:2em;
    
}
.activepart {
    border-top-style:dotted;
    margin-bottom:0em;
}

.activepart:first-child {
    border-top: 0;
}

* html body { /*IE6 hack*/
    padding: 0 150px 0 200px; /*Set value to (0 WidthOfRightFrameDiv 0 WidthOfLeftFrameDiv)*/
}

* html #main { /*IE6 hack*/
    height: 100%; 
    width: 100%; 
}
