body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    background:#acbbbd;
}

a:link {color:Navy }      /* unvisited link */
a:visited {color:blue }  /* visited link */
a:hover {color:CornflowerBlue }  /* mouse over link */
a:active {color:black }  /* selected link */

.dark a:link {color:white }      /* unvisited link */
.dark a:visited {color:white }  /* visited link */
.dark a:hover {color:grey }  /* mouse over link */
.dark a:active {color:black }  /* selected link */

div.recipeColor {
    background:#619100;
    color: white;
}
div.ownColor {
    background:#5E1709;
    color: white;
}
div.searchColor {
    background:#aa0000;
    color: white;
}
div.mainColor {
    background:white;
    color: black;
}
/*
ul.link li {  
    list-style:none;
    display:inline;
}
*/
.dark {
    color: white;
}

/* Header */
div.right {
    float:right;
}

div.left {
    float:left;
}

div.menu, #header {
    -webkit-box-shadow: 0px 10px 20px #212121;
    -moz-box-shadow: 0px 10px 20px #212121;
    box-shadow: 0px 10px 20px #212121;
}

.ingredient .name {
    color:red;    
}
