body {
    background: #ffffff;
    font-family: Georgia;
    margin: 0;
    padding: 1em;
}

div#header {
    border: solid #000000 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 0.5em;
    font-size: 110%;
}

div#mainnavi {

    width: 15%;
    float: left;
    clear: none;
    
    border: solid #000000 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    overflow: auto;
    margin: 0.5em 0;
}

div#mainnavi div.navibar {
    margin: 0;
    padding: 0.3em 1em;
}
div#mainnavi div.navibar ul {
    
}

div#footer {
    border: solid #999 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    font-size: 80%;
    color: #666;
    padding: 0.3em;
}

div#content {
    overflow: auto;
}

.listresult {
    float: left;
    width: 29%;
    margin: 0.5em;
    padding: 0.5em;

    background: #bbb;
    color:black;

    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
