body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

a:link {color:Navy }      /* unvisited link */
a:visited {color:blue }  /* visited link */
a:hover {color:CornflowerBlue }  /* mouse over link */
a:active {color:black }  /* selected link */

.dark a:link {color:white }      /* unvisited link */
.dark a:visited {color:white }  /* visited link */
.dark a:hover {color:grey }  /* mouse over link */
.dark a:active {color:black }  /* selected link */


div.recipeColor {
    background:Gray;
}
div.ownColor {
    background:black;
}
div.searchColor {
    background:#aa0000;
}
div.mainColor {
    background:LightGray;
}

ul.link li {  
    list-style:none;
    display:inline;
}

.dark {
    color: white;
}

