{% extends "recipes/base.html" %}

{% block headMore %}
<link rel="stylesheet" type="text/css" href="/css/contentpage.css"></link>
{% endblock %}

{% block body %}

<div id="header">
Nettikeittiö
{% block header %}
{% endblock %}
</div>

<div id="mainnavi">
{% block mainnavi %}
{% include "recipes/contentpage/mainnavi.html" %}
{% endblock %}
</div>

<div id="navibar">
{% include "recipes/contentpage/navibar.html" %}
</div>

<div id="content" class="dark">
{% block content %}
<p>Demoreseptit!</p>
{% endblock %}
</div>



<div id="footer">
Nettikeittiö 2011
{% block footer %}{% endblock %}
</div>

{% endblock %}
