{% extends "recipes/base.html" %}

{% block headMore %}
<link rel="stylesheet" type="text/css" href="/css/contentpage.css"></link>
{% endblock %}

{% block body %}

<script type="text/javascript">
$(document).ready(function() {

    $('#menu').hide();
    
    $('.initMenu').hover(function () {
            $('#menu').slideDown('fast');
        },function () {
            $('#menu').slideUp('fast');
        }
    );
    /*
    $(".initMenu").bind("mouseover", function() {
       $("#menu:hidden").slideDown('fast'); 
    });
    
    $("#menu").bind("mouseout", function() {
       $("#menu:visible").slideUp('fast'); 
    });*/
});

</script>


<div id="header" class="mainColor contentpage">
{% block header %}
{% include "recipes/contentpage/header.html" %}
{% endblock %}
</div>

<div class="contentpage initMenu">
{% include "recipes/contentpage/menu.html" %}
</div>

<div class="contentpage">
{% block content %}
{% include "recipes/contentpage/frontpage.html" %}
{% endblock %}
</div>



<div id="footer" class="contentpage">
Nettikeittiö 2011
{% block footer %}{% endblock %}
</div>

{% endblock %}
