{% extends "recipes/base.html" %}

{% block headMore %}
<link rel="stylesheet" type="text/css" href="/css/fullpage.css"></link>
{% endblock %}

{% block body %}

<script type="text/javascript">
$(document).ready(function() {
    
    // Hide recipe div
    $(".recipe").hide()
    
    // Each phase decentant a and div gets it's id as a class
    $('.recipe .recipe_phase').each(function(index) {
        var id = $(this).attr('id');
        $(this).find("div, a").each(function(index) {
            $(this).addClass(id);
        });
    });
    
    // Recipe info if copied to header
    $('.recipe').children('.recipe_name').appendTo('#showHide');
    $('.recipe').children('.recipe_image').appendTo('#showHide');
    $('.recipe').children('.recipe_description').appendTo('#showHide');
    
    // Each phase part is copied in view
    $('.recipe .recipe_phase').each(function(index) {
        $(this).children('.phase_name').appendTo('#frameLeft');
        $(this).children('.phase_duration').appendTo('#main');
        $(this).children('.phase_atype').appendTo('#main');
        $(this).children('.phase_dscr').appendTo('#main');
        $(this).children('.phase_ingredients').appendTo('#frameRight');
    });
    
    // First phase is set as active
    var id = $('div#frameLeft div:first-child a');
    active_new(id);
    
    // If phase name is clicked, that phase is set as active
    $(".phase_name > a").click(function() {
        active_new(this);
    });
    
});

// Changing active phase with keyboard arrows
$(document).keydown(function (e) {
    var keyCode = e.keyCode || e.which,
        arrow = {left: 37, up: 38, right: 39, down: 40 };
    
    // Get Last phase number
    var id = $('div#frameLeft div:last-child a').attr('class');
    var splitArray = id.split('_');
    var last_id = parseInt(splitArray[2]);
    
    // Get first phase number
    var id = $('div#frameLeft div:first-child a').attr('class');
    var splitArray = id.split('_');
    var first_id = parseInt(splitArray[2]);
    
    // Get current active phase number
    id = $('div#frameLeft div.active a').attr('class');
    splitArray = id.split('_');
    var current_id = parseInt(splitArray[2]);

    // Change phases
    var go, a;
    switch (keyCode) {
        case arrow.up:
        case arrow.left:
            if (current_id > first_id){
                go = current_id - 1;
                a = $('div#frameLeft div.recipe_phase_'+ go +' a');
                active_new(a);
            }
        break;
        case arrow.down:
        case arrow.right:
            if (current_id < last_id){
                go = current_id + 1;
                a = $('div#frameLeft div.recipe_phase_'+ go +' a');
                active_new(a);
            }
        break;
    }
});

function active_new(link) {
    var a = $(link);
    $('div').removeClass('active')
    var id = $(a).attr('class');
    var active = 'div.'+id;
    $(active).addClass('active');
}

</script>

<div id="header" class="mainColor">
{% block header %}
{% include "recipes/fullpage/header.html" %}
{% endblock %}
</div>


{% block fullcontent %}
<div id="fullcontent">

        <div id="frameLeft" class="ownColor">
        </div>

        <div id="frameRight" class="searchColor">
        </div>

        <div id="main" class="mainColor">
        </div>
        
</div>

{% include "recipes/recipe.html" %}
<!--
<div class="recipe">
    <div class="recipe_name">
        Riistapata
    </div>
    
    <div class="recipe_image">
        <img src="" alt="" />
    </div>
    
    <div class="recipe_description">
        <p>Paljolla juustolla melkoinen riistamättö</p>
    </div>
    
    <div class="recipe_phases">
        <div class="recipe_phase" id="recipe_phase_1">
            <div class="phase_name">
                <a href="#">Makaroonit</a>
            </div>
            <div class="phase_atype">
                <span class="atype">active</span>
            </div>
            <div class="phase_duration">
                <span class="amount">15</span>
                <span class="unit">min</span>
            </div>
            <div class="phase_dscr">
                <p>Keitä makaroonit</p>
            </div>
            <div class="phase_ingredients">
                <div class="ingredient">
                    <span class="amount">2</span>
                    <span class="unit">dl</span>
                    <span class="name">keitettyjä sarvimakarooneja (hörnli)</span>
                </div>
            </div>
        </div>
        <div class="recipe_phase" id="recipe_phase_2">
            <div class="phase_name">
                <a href="#">Paistaminen</a>
            </div>
            <div class="phase_atype">
                <span class="atype">active</span>
            </div>
            <div class="phase_duration">
                <span class="amount">20</span>
                <span class="unit">min</span>
            </div>
            <div class="phase_dscr">
                <p>
                Kuumenna valurautapannu keskilämmöllä ja sulata voi.
                Lisää pannulle palvikinkkukuutiot ja anna niiden hiukan ruskistua pannulla liikutellen.
                Laita pannulle sipulikuutiot ja anna niiden myöskin hiukan ruskistua. Sipuli saa jäädä napakaksi, antaen näin makua mausteena.
                Nyt sitten makaroonit joukkoon ja kääntele aineksia pannulla n. 2 - 3 minuuttia, kunnes makaroonit ovat kuumia.
                </p>
            </div>
            <div class="phase_ingredients">
                <div class="ingredient">
                    <span class="amount">1</span>
                    <span class="unit">rkl</span>
                    <span class="name">voita</span>
                </div>
                <div class="ingredient">
                    <span class="amount">1</span>
                    <span class="unit">dl</span>
                    <span class="name">palvikinkkukuutioita</span>
                </div>
                <div class="ingredient">
                    <span class="amount">1</span>
                    <span class="unit">dl</span>
                    <span class="name">karkeita sipulikuutioita</span>
                </div>
            </div>
        </div>
        <div class="recipe_phase" id="recipe_phase_3">
            <div class="phase_name">
                <a href="#">ennen uunia</a>
            </div>
            <div class="phase_atype">
                <span class="atype">active</span>
            </div>
            <div class="phase_duration">
                <span class="amount">5</span>
                <span class="unit">min</span>
            </div>
            <div class="phase_dscr">
                <p>Laita juttu vuokaan ja raasta juustot päälle</p>
            </div>
            <div class="phase_ingredients">
                <div class="ingredient">
                    <span class="amount">15</span>
                    <span class="unit">g</span>
                    <span class="name">raastettua appenzeller -juustoa</span>
                </div>
                <div class="ingredient">
                    <span class="amount">15</span>
                    <span class="unit">g</span>
                    <span class="name">raastettua tilsister -juustoa</span>
                </div>
            </div>
        </div>
        <div class="recipe_phase" id="recipe_phase_4">
            <div class="phase_name">
                <a href="#">uuni</a>
            </div>
            <div class="phase_atype">
                <span class="atype">passive</span>
            </div>
            <div class="phase_duration">
                <span class="amount">40</span>
                <span class="unit">min</span>
            </div>
            <div class="phase_dscr">
                <p>Laita koko jutska uuniin</p>
            </div>
        </div>
        <div class="recipe_phase" id="recipe_phase_5">
            <div class="phase_name">
                <a href="#">Viimeistely</a>
            </div>
            <div class="phase_atype">
                <span class="atype">active</span>
            </div>
            <div class="phase_duration">
                <span class="amount">5</span>
                <span class="unit">min</span>
            </div>
            <div class="phase_dscr">
                <p>Ripottele aineet päälle</p>
            </div>
            <div class="phase_ingredients">
                <div class="ingredient">
                    <span class="amount">15</span>
                    <span class="unit">g</span>
                    <span class="name">raastettua parmigianoa</span>
                </div>
                <div class="ingredient">
                    <span class="amount">0.5</span>
                    <span class="unit">rkl</span>
                    <span class="name">hakattua persiljaa</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}

{% endblock %}
