{% if recipe %}
<div class="recipe">
    <div class="recipe_name">
        {{ recipe.name }}
    </div>
    <div class="recipe_lastedit">
        {{ recipe.lastedit }}
    </div>
    <div class="recipe_creator">
        <p>{{ recipe.owner.name }}</p>
    </div>
    <div class="recipe_image">
        <img src="{% url image_root path=recipe.image %}" alt="{{ recipe.name }}" />
    </div>
    <div class="recipe_description">
        <p>{{ recipe.description }}</p>
    </div>
    {% if phase_list %}
    {% for phase in phase_list %}
    <div class="recipe_phases">
        <div class="recipe_phase" id="recipe_phase_{{ phase.ordering }}">
            <div class="phase_name">
                <a href="#">{{ phase.name }}</a>
            </div>
            <div class="phase_atype">
                <span class="atype">{{ phase.activity_type }}</span>
            </div>
            <div class="phase_duration">
                <span class="amount">{{ phase.duration_min }}</span>
                <span class="unit">min</span>
            </div>
            <div class="phase_dscr">
                {{ phase.description }}
            </div>
            <div class="phase_ingredients">
                {% if ingredient_list %}
                {% for ingredient in ingredient_list %}
                {% if phase == ingredient.phase %}
                <div class="ingredient">
                    <span class="amount">{{ ingredient.amount }}</span>
                    <span class="unit">{{ ingredient.unit.name }}</span>
                    <span class="name">{{ ingredient.ingredient.name }}</span>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% else %}
<strong>No recipe found</strong>
{% endif %}
