<div class="recipe">
    <div class="recipe_name">
    </div>
    <div class="recipe_image">
        <img src="" alt="" />
    </div>
    <div class="recipe_description">
        <p></p>
    </div>
    <div class="recipe_phases">
        <div class="recipe_phase" id="recipe_phase_X">
            <div class="phase_name">
            </div>
            <div class="phase_atype">
                <span class="atype"></span>
            </div>
            <div class="phase_duration">
                <span class="amount"></span>
                <span class="unit"></span>
            </div>
            <div class="phase_dscr">
                <p></p>
            </div>
            <div class="phase_ingredients">
                <div class="ingredient">
                    <span class="amount"></span>
                    <span class="unit"></span>
                    <span class="name"></span>
                </div>
            </div>
        </div>
    </div>
</div>
