
<script type="text/javascript">
$(document).ready(function() {
    
    $(".commentFormDiv").hide();
    
    $("button.toggle").click(function() {
        $(".commentFormDiv").slideToggle();
    });
    
});
</script>

<div id="detailComment" class="listDiv">
    {% if user.is_authenticated %}

    <div class="commentBox ownColor listDiv" id="postNewComment">
        <div class="commentFormDiv">
            <form method="POST" action="{% url recipe_page recipe_id=recipe.id %}">
                <input type="hidden" name="user" id="user"
                    value="{{ user.id }}"/>
                <input type="hidden" name="recipe" id="recipe"
                    value="{{ recipe.id }}"/>
                <p>kommentin otsikko:</p>
                {{ commentform.title }}
                <p>Kommenttisi:</p>
                {{ commentform.text }}
                <!--<textarea name="commentText" id="commentText"
                        rows="10" cols="50" required ></textarea>-->
                <p>
                <input type="submit" id="postComment"
                        value="Lähetä kommenttisi" />
                </p>
                {% csrf_token %}
            </form>
        </div>
        <button class="toggle">Leivoitko reseptin mukaan? Kommentoi ihmeessä!</button>
    </div>
    {% else %}
    <div class="commentBox ownColor listDiv">
        <p>Kirjaudu sisään kommentoidaksesi</p>
    </div>
    {% endif %}

    {% for comment in comments %}
    <div class="comment ownColor listDiv">
        <input type="hidden" class="commentId" value="{{ comment.id }}" />
        <div class="comment_title">
            <span class="title">{{ comment.title }}</span>
            |
            <span class="added">{{ comment.added }}</span>
            |
            <span class="user">{{ comment.user.name }}</span>
        </div>
        <div class="commentText"><p>{{ comment.text }}</p></div>
    </div>
    {% endfor %}
</div>
