{% extends "recipes/contentpage.html" %}

{% block content %}

<div id="content" class="ownColor dark">
{% if userprofile %}

        <h1>Muokkaa profiiliasi</h1>

        {% if form.errors %}
            <p>Syötit tietoja virheellisesti!</p>
        {% endif %}
        
        <form action="/edituser/{{user.id}}/" method="post" enctype="multipart/form-data">
        	{% csrf_token %}
        	<table>
        		<!--
            	<tr>
                    <th>Käyttäjätunnus</td>
                    <td>{{ form.username }}</td>
                    <td>
                    	{{ form.username.help_text }}
                    	{% if form.username.errors %}
                    		<strong>{{ form.username.errors|escape }}</strong>
                    	{% endif %}
                    </td>
                </tr> -->
				
				{{ profile_form.as_table }}
            </table>
            <input type="submit" value="Talleta" />
        </form>

{% endif %}

</div>

{%endblock%}
