{% extends "recipes/contentpage.html" %}

{% block header %}
{% include "recipes/contentpage/header.html" %}
{% endblock %}

{% block content %}
<div id="content" class="mainColor">

    <h3>Tervetuloa Nettikeittiöön!</h3>
    <div class="listDiv" searchColor dark" id="introText">
    <p>
    Nettikeittiö on hieno tapa julkaista, jakaa, muokata ja etsiä reseptejä yhteisöllisesti. Ainutlaatuisen ainesosahaun avulla voit hakea kaappisi sisällön perusteella.
    </p>

    </div>

    <h3>10 uusinta reseptiä</h3>
    <div class="listDiv searchColor dark" id="demorecipes">
    {% for r in recipes %}
        {% if r.owner %}
        <div class="listresult recipeColor">
            <div class="img_container">
            	{% if r.image %}
                	<img src="{% url image_root path=r.image %}"></img>
                {% else %}
            		<span class="detailMissingText">Ei kuvaa</span>
            	{% endif %}
            </div>
            <p class="name"><a href="{% url recipe_page recipe_id=r.pk %}">{{r.name}}</a></p>
            <p class="description">{{ r.description }}</p>
        {% else %}
        <div class="listresult ownColor">
            <div class="img_container">
            {% if r.image %}
            	<img src="{% url image_root path=r.image %}"></img>
            {% else %}
            	<span class="detailMissingText">Ei kuvaa</span>
            {% endif %}
            </div>
            <p class="name"><a href="{% url user_page user_id=r.pk %}">{{r.name}}</a></p>
            <p class="description">{{ r.description }}</p>
        {% endif %}
        </div>

    {% endfor %}
    </div>
    
    <h3>10 satunnaista käyttäjää</h3>
    <div class="listDiv searchColor dark" id="demousers">
        {% for r in users %}
        {% if r.owner %}
        <div class="listresult ownColor">
            <div class="img_container">
            	{% if r.image %}
                	<img src="{% url image_root path=r.image %}"></img>
                {% else %}
            		<span class="detailMissingText">Ei kuvaa</span>
            	{% endif %}
            </div>
            <p class="name"><a href="{% url recipe_page recipe_id=r.pk %}">{{r.name}}</a></p>
            <p class="description">{{ r.description }}</p>
        {% else %}
        <div class="listresult ownColor">
            <div class="img_container">
            	{% if r.image %}
            		<img src="{% url image_root path=r.image %}"></img>
            	{% else %}
            		<span class="detailMissingText">Ei kuvaa</span>
            	{% endif %}
            </div>
            <p class="name"><a href="{% url user_page user_id=r.pk %}">{{r.name}}</a></p>
            <p class="description">{{ r.description }}</p>
        {% endif %}
        </div>

    {% endfor %}
    </div>
    </div>

</div>
{% endblock %}
