
<div class="mainColor">
    <div class="left">
            <div id="nkName">
                <img src="{% url image_root path='nk_images/nettikeittio.png' %}" alt="logo" />
                <strong>Nettikeittiö</strong>
            </div>
            <div id="nkdescription">
                Laitetaan tietotekniikka palvelemaan ruoanlaittoa, eikä suinkaan päinvastoin!
            </div>
        <a href="{% url main_page %}">Etusivu</a>
        <a href="{% url nk_help %}">FAQ</a>
        <a href="/admin/">Ylläpito</a>
    </div>
    
    <div class="right">
        <div class="loggeduser">
            {% if user.is_authenticated %}
            <a href="{% url nk_logout %}">Kirjaudu ulos</a> <strong><a href="{% url edit_user user_id=user.id %}">{{ user }}</a></strong>.
            {% else %}
            <a href="{%url nk_login %}">Kirjaudu sisään</a>
            {% endif %}
        </div>

        <div class="search">
            <form method="get" action="{% url search %}">
                <input name="q"  type="search" placeholder="Nettikeittiöstä">
                <input type="submit" value="Hae">
            </form>
        </div>
    </div>
</div>
