
<div class="mainColor">
    <div class="left">
            <div id="nkName">
                <img src="{% url image_root path='nk_images/nettikeittio.png' %}" alt="logo" />
                <strong>Nettikeittiö Dev</strong>
            </div>
            <div id="nkdescription">
                Laitetaan tietotekniikka palvelemaan ruoanlaittoa, eikä suinkaan päinvastoin!
            </div>
        <a href="{% url main_page %}">Etusivu</a>
        <a href="{% url nk_help %}">Help</a>
        <a href="/admin/">Admin</a>
    </div>
    
    <div class="right">
        <div class="search">
            <form method="get" action="{% url search %}">
                <input name="q"  type="search" placeholder="Nettikeittiöstä">
                <input type="submit" value="Hae">
            </form>
        </div>
    </div>
</div>
