{% extends "recipes/contentpage.html" %}

{% block content %}

<div id="content" class="mainColor">

<h3>Usein kysytyt kysymykset</h3>



<h4>Kuka reseptejä syöttää</h4>
<p>Käyttäjät! Voit osallistua rekisteröitymällä ja syöttämällä omat suosikkireseptisi muiden nähtäville.</p>

<h4>Kuka tämän kaiken takana on</h4>
<p>Projektin toteutti joukko Aalto-yliopiston opiskelijoita harjoitustyönä. Hienoa!</p>

<h4>Miten voitte tehdä tätä ilmaiseksi</h4>
<p>Tämä kaikki pyörii yliopiston palvelimella harjoitustyönä, saamme tulomme valtiolta opintotuen muodossa.</p>

</div>

{%endblock%}
