<script type="text/javascript">
$(document).ready(function() {
    $("div.navibar ul").hide()
    $("div.linkbar ul").show()
    $("div.linkbar").hide()
    // Subnavi links load content
    .each(function() {
        $(this).find("a").each(function() {
            nk_ajaxify_link(this, "#content");
        });
    });
    
    $( "div.mainlink a" ).toggle(
        function() {
            var naviId = $(this).parent().parent().attr('id');;
            //$("div.linkbar").show("slide", { direction: "left" }, 1000);
            $( "div.navibar#"+naviId+" > div.linkbar" ).animate({
                width: "show",
                opacity:1
            }, 1000 );
        },
        function() {
            
            var naviId = $(this).parent().parent().attr('id');
            //$("div.linkbar").hide("drop", { direction: "left" }, 1000);
            $( "div.navibar#"+naviId+" > div.linkbar" ).animate({
                width: "hide",
                opacity:0
            }, 1000 );
        }
    );

    // Navibar main links toggle subnavi visibility
    $("div.navibar > a:first-child").click(function() {
        var $this = $(this);
        var ul = $this.siblings("ul");

        if(ul.is(":visible")) {
            ul.slideUp('fast');
        } else {
            ul.slideDown('fast');
        }

        return false;
    });
});
</script>
<!--
<div class="navibar">
    <a href="#">Reseptit</a>
    <ul class="link">
        <li><a href="/recipes/">Reseptilistaus</a></li>
        <li><a href="/">Joku muu</a></li>
    </ul>
</div>

<div class="navibar">
    <a href="#">Oma</a>
    <ul class="link">
        <li><a href="/">Etusivu</a></li>
        <li><a href="/">Reseptit</a></li>
    </ul>        
</div>
-->

<div id="navi1" class="navibar">
    <div class="mainlink dark">
        <a href="#">Reseptit</a>
    </div>
</div>

<div id="navi2" class="navibar">
    <div class="mainlink dark">
        <a href="#">Oma</a>
    </div>
</div>

<div id="navi3" class="navibar">
    <div class="mainlink dark">
        <a href="#">Hae</a>
    </div>
</div>
