<div id="menu" class="dark ownColor"> 

    <div class="menulist dark recipeColor">
        <ul class="link">
            <a href="{% url new_recipe %}">Uusi</a>
            {% if recipe %}
                <a href="{% url edit_recipe recipe_id=recipe.pk %}">Muokkaa</a>
                <a href="{% url edit_recipe recipe_id=recipe.pk %}">Tee uusi tämän pohjalta</a>
            {% endif %}
        </ul>
    </div>



    <div class="menulist dark ownColor">
        <ul class="link">
            {% if user.is_authenticated %}
                <li><a href="{% url user_page user_id=user.pk %}">Sinä</a></li>
                <li><a href="{% url edit_user user_id=user.pk %}">Sinä</a></li>
                <li><a href="{% url nk_logout %}">Kirjaudu ulos</a></li>
                <li><a href="{% url search %}">Omat reseptit</a></li>
                <li><a href="{% url search %}">Omat suosikit</a></li>
            {% endif %}
            <li><a href="{% url register %}">Uusi käyttäjä</a></li>
            <li><a href="{% url nk_login %}">Kirjaudu sisään</a></li>
        </ul>
    </div>



    <div class="menulist dark searchColor">
        <ul class="link">
            <li><a href="{% url list_recipes %}">Reseptilistaus</a></li>
            <li><a href="{% url search %}">Käyttäjiä</a></li>
            <li><a href="{% url search %}">Reseptejä</a></li>
        </ul>
    </div>

</div>
