
<div class="navibar navi1">
    <div class="linkbar dark recipeColor">
        <ul class="link">
            <a href="{% url new_recipe %}">Uusi</a>
            {% if recipe %}
                <a href="{% url edit_recipe recipe_id=recipe.pk %}">Muokkaa</a>
                <a href="{% url edit_recipe recipe_id=recipe.pk %}">Tee uusi tämän pohjalta</a>
            {% endif %}
        </ul>
    </div>
</div>

<div class="navibar navi2">
    <div class="linkbar dark ownColor">
        <ul class="link">
            {% if user.is_authenticated %}
                <li><a href="{% url user_page user_id=user.pk %}">Sinä</a></li>
                <li><a href="{% url edit_user user_id=user.pk %}">Sinä</a></li>
                <li><a href="{% url nk_logout %}">logout</a></li>
                <li><a href="{% url search page=1 %}">Omat reseptit</a></li>
                <li><a href="{% url search page=1 %}">Omat suosikit</a></li>
            {% endif %}
            <li><a href="{% url new_user %}">Uusi käyttäjä</a></li>
            <li><a href="{% url nk_login %}">Kirjaudu sisään</a></li>
        </ul>
    </div>
</div>

<div class="navibar navi3">
    <div class="linkbar dark searchColor">
        <ul class="link">
            <li><a href="{% url list_recipes %}">Reseptilistaus</a></li>
            <li><a href="{% url search page=1 %}">Käyttäjiä</a></li>
            <li><a href="{% url search page=1 %}">Reseptejä</a></li>
        </ul>
    </div>
</div>
