
<div id="navi1" class="navibar">
    <div class="linkbar dark">
        <ul class="link">
            <li><a href="/recipes/">Reseptilistaus</a></li>
            <li><a href="/">Joku muu</a></li>
        </ul>
    </div>
</div>

<div id="navi2" class="navibar">
    <div class="linkbar dark">
        <ul class="link">
            <li><a href="/">Käyttäjiä</a></li>
            <li><a href="/">Reseptejä</a></li>
        </ul>
    </div>
</div>

<div id="navi3" class="navibar">
    <div class="linkbar dark">
        <ul class="link">
            <li><a href="/">Käyttäjiä</a></li>
            <li><a href="/">Reseptejä</a></li>
        </ul>
    </div>
</div>
