{% extends "recipes/contentpage.html" %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {
    
    $(".recipe_phase > .phase_ingredients").hide();
    
    $("button.hideCR").click(function() {
        $("#comment_result").slideUp("fast");
    });
    
    
    $("#add_favourites").submit(function(event) {

        // stop form from submitting normally
        event.preventDefault(); 
            
        // get some values from elements on the page:
        var $form = $( this ),
            fav = $form.find( 'input[name="fav"]' ).val(),
            csrf = $form.find( 'input[name="csrfmiddlewaretoken"]' ).val(),
            rid = $form.find( 'input[name="recipe_id"]' ).val(),
            uid = $form.find( 'input[name="user_id"]' ).val(),
            url = $form.attr( 'action' );

        // Send the data using post and put the results in a div
        $.post( url, { s: fav, csrfmiddlewaretoken: csrf, rid: rid, uid: uid } ,
            function( data ) {
                //var content = $( data ).find( '#content' );
                //$( ".favourite" ).html( content );
                //alert("Data Loaded: " + data.status);
                if (data.status == "removed") {
                    $("#add_favourites_button").attr('value', 'Lisää suosikkeihin');
                } else if (data.status == "added") {
                    $("#add_favourites_button").attr('value', 'Poista suosikeista');
                } else {
                    $("#add_favourites_button").attr('value', 'Virhe!');
                }
            }, "json"
        );
    });
});

</script>

<div id="content" class="recipeColor dark">

    {% if comment_result %}
        <div id="comment_result" class="mainColor listDiv">
            <div class="left">
                <p>{{ comment_result }}</p>
            </div>
            <div class="right">
                <button class="hideCR">Poista ilmoitus</button>
            </div>
        </div>
    {% endif %}

{% if recipe %}
    <div id="detailHeader" class="listDiv">
        <div class="left">
            <div class="recipe_owner">
                <a href="{% url user_page user_id=recipe.owner.id %}">{{ recipe.owner.name }}</a> tarjoaa:
			</div>
			<div class="recipe_name">
				<h2>{{ recipe.name }}</h2>
			</div>
			<div class="recipe_description">
				<p>{{ recipe.description }}</p>
			</div>
        </div>
        <div class="right">
            {% if user.is_authenticated %}
                <div class="favourite">
                    <form id="add_favourites" action="{% url favourite_ajax %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="recipe_id" value="{{ recipe.id }}"></input>
                        <input type="hidden" name="user_id" value="{{ user.id }}"></input>
                    {% if favourite %}
                        <input type="hidden" name="fav" value="is"></input>
                        <input type="submit" id="add_favourites_button" value="Poista suosikeista"></input>
                    {% else %}
                        <input type="hidden" name="fav" value="not"></input>
                        <input type="submit" id="add_favourites_button" value="Lisää suosikkeihin"></input>
                    {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div id="detailMain" class="listDiv">
        <div class="left">
            <div class="detailImage">
				<div class="recipe_image img_container">
					{% if recipe.image %}
						<img src="{% url image_root path=recipe.image %}" alt="{{ recipe.name }}" />
					{% else %}
						<span class="detailMissingText">Ei kuvaa</span>
					{% endif %}
				</div>
            </div>
            <div class="detailIngredients mainColor">
				{% if ingredient_list %}
					{% for ingredient in ingredient_list %}
						<div class="ingredient">
							<span class="amount">{{ ingredient.amount }}</span>
							<span class="unit">{{ ingredient.unit.name }}</span>
							<span class="name">{{ ingredient.ingredient.name }}</span>
						</div>
					{% endfor %}
				{% endif %}
            </div>
        </div>
        <div class="right">
		{% if phase_list %}
			{% for phase in phase_list %}
				<div class="recipe_phase" id="recipe_phase_{{ phase.ordering }}">
                    <div class="phase_duration">
						<span class="amount">{{ phase.duration_min }}</span>
						<span class="unit">min</span>
					</div>
					<div class="phase_name">
						<a href="#">{{ phase.name }}</a>
					</div>
					<div class="phase_atype">
                        {% if phase.activity_type == 0 %}
                            <span class="atype a_passive">Passiivinen</span>
                        {% else %}
                            <span class="atype a_active">Aktiivinen</span>
                        {% endif %}
					</div>
					
					<div class="phase_dscr">
						{{ phase.description }}
					</div>
                    <div class="phase_ingredients">
                        {% if ingredient_list %}
                            {% for ingredient in ingredient_list %}
                                {% if phase == ingredient.phase %}
                                <div class="ingredient">
                                    <span class="amount">{{ ingredient.amount }}</span>
                                    <span class="unit">{{ ingredient.unit.name }}</span>
                                    <span class="name">{{ ingredient.ingredient.name }}</span>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
				</div>
			{% endfor %}
		{% endif %}
        </div>
    </div>
    
    {% include "recipes/contentpage/comments.html" %}
{% endif %}
</div>

{% endblock %}
