{% extends "recipes/contentpage.html" %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {
    // http://net.tutsplus.com/tutorials/javascript-ajax/how-to-use-the-jquery-ui-autocomplete-widget/
    //attach autocomplete
    $("#input_ingredient").autocomplete({

        //define callback to format results
        source: function(req, add){

            //pass request to server
            $.getJSON('{% url ingredient_lookup %}', req, function(data) {

                //create array for response objects
                var suggestions = [];

                //process response
                $.each(data, function(i, val){
                    suggestions.push(val.name);
                });

                //pass array to callback
                add(suggestions);
            });
        },

        //define select handler
        /*
        select: function(e, ui) {
            console.log(ui)
            var name = ui.item.label;
            //$('#testing').text(name);
            $('#ingredients').append('<div class="ingredient"><p>' + name + '</p></div>');
            $("#name").val("");
        }
        */
    });
    
    $(".add_ingredient").click(function() {
        var name = $("#input_ingredient").val();
        var remove = '<a href="#" title="Remove phase" class="remove_ingredient"></a>';
        var hidden = '<input type="hidden" name="i" value="' + name + '" />';
        $('#ingredients').append('<div class="ingredient listresult recipeColor">' + name + remove + hidden + '</div>');
        $("#input_ingredient").val("");
        $('.listresult').corner();
    });
    
    $(".remove_ingredient").live('click',function(){
        $(this).parent().remove();
    });
});
</script>

<div id="content" class="searchColor dark">
    
    <div class="listDiv">
        <div class="ui-widget">
            <!--<label for="input_ingredient">Lisää: </label>-->
            <input id="input_ingredient" />
            <button type="button" class="add_ingredient">Lisää raaka-aine</button>
        </div>
    </div>
    
    <form method="get" action="{% url list_recipes %}">
        <div class="listDiv" id="ingredients">
            <p>Raaka-aineet:</p>
        </div>
        
        <div class="listDiv" id="ingredients">
            <input type="submit" value="Hae" />
        </div>
    </form>

</div>
{% endblock %}
