{% extends "recipes/contentpage.html" %}

{% block content %}
    <div id="content" class="ownColor dark">
        <h1>Rekisteröidy</h1>

        {% if form.errors %}
            <p>Syötit tietoja virheellisesti!</p>
        {% endif %}
        
        <form action="/register/" method="post">
        	{% csrf_token %}
        	<table>
            	<tr>
                    <th>Käyttäjätunnus</td>
                    <td>{{ form.username }}</td>
                    <td>
                    	{{ form.username.help_text }}
                    	{% if form.username.errors %}
                    		<strong>{{ form.username.errors|escape }}</strong>
                    	{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Nimesi</td>
                    <td>{{ profile_form.name }}</td>
                    <td>
                    	{{ profile_form.name.help_text }}
                    	{% if profile_form.name.errors %}
                    		<strong>{{ profile_form.name.errors|escape }}</strong>
                    	{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Salasana</th>
                    <td>{{ form.password1 }}</td>
                    <td>
                    	{{ form.password1.help_text }}
                    	{% if form.password1.errors %}
                    		<strong>{{ form.password1.errors|escape }}</strong>
                    	{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Salasanan vahvistus</th>
                    <td>{{ form.password2 }}</td>
                    <td>
                    	{{ form.password2.help_text }}
                    	{% if form.password2.errors %}
                    		<strong>{{ form.password2.errors|escape }}</strong>
                    	{% endif %}
                    </td>
                </tr>
            </table>
            <input type="submit" value="Rekisteröidy" />
        </form>
        
    </div>
{% endblock %}
