{% extends "recipes/contentpage.html" %}

{% block content %}

<div id="content" class="ownColor dark">
{% if userprofile %}

    <div id="detailHeader" class="listDiv">
        <div class="left">
        	{% if userprofile.name != '' %}
				<h2>{{ userprofile.name }}</h2>
			{% else %}
				<span class='detailMissingText'>Käyttäjällä ei ole nimeä profiilissa</span>
			{% endif %}
        </div>
        <div class="right">
        </div>
    </div>
    
    <div id="detailMain" class="listDiv">
        <div class="left">
            <div class="detailImage">
				<div class="user_image img_container">
					{% if userprofile.image %}
						<img src="{% url image_root path=userprofile.image %}" alt="{{ userprofile.name }}" />
					{% else %}
						<span class="detailMissingImage">Ei kuvaa</span>
					{% endif %}
				</div>
            </div>
            <div class="detailIngredients mainColor">
            	{% if userprofile.description != '' %}
					{{ userprofile.description }}
				{% else %}
					<span class='detailMissingText'>Ei kuvausta</span>
				{% endif %}
            </div>
        </div>
        <div class="right">
            <p>Käyttäjän omat reseptit:</p>
            {% if recipes %}
            {% for r in recipes %}
                <div class="recipe_phase recipeColor">
                    <p class="name"><a href="{% url recipe_page recipe_id=r.pk %}">{{r.name}}</a></p>
                    <p class="description">{{ r.description }}</p>
                </div>
            {% endfor %}
            {% else %}
                <div class="recipe_phase recipeColor">
                    <p>Käyttäjällä ei ole vielä tehnyt reseptejä</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endif %}

</div>

{%endblock%}
